<div class="container my-5 z-depth-1">


    <!--Section: Content-->
    <section class="dark-grey-text">
  
      <div class="row pr-lg-5">
        <div class="col-md-7 mb-4">
  
          <div class="view">
            <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
          </div>
  
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <div>
            
            <h3 class="font-weight-bold mb-4">Welcome To Our Smart-E-Shop</h3>
  
            <p>Ecommerce (or electronic commerce) is the buying and selling of goods or services on the Internet. It encompasses a wide variety of data, systems and tools for online buyers and sellers, including mobile shopping and online payment encryption.</p>
  
            <button type="button" class="shopping-btn"  routerLink="/products">Continue Shopping</button>
  
          </div>
        </div>
      </div>
  
    </section>
    <!--Section: Content-->
  
  
  </div>






  